* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ill {
    border: 1px solid red;
    background-color: black;
}
h1 {
    text-align: center;
    color: blue;
}
p {
    color: blue;
    text-align: center;
    font-size: 30px;
}